.challenge-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* 포인트 영역 */
.points-section {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: flex-start; /* 제목과 박스 상단 기준 정렬 */
}

.my-points-wrapper {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.points-history-wrapper {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.points-title,
.history-title {
  color: #e74d2e;
  margin: 0 0 5px 5px; /* 제목과 박스 사이 약간 간격 */
  font-size: 1rem;
  font-weight: bold;
}

.my-points-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 170px; /* 고정 높이 */
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.points-history-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 170px; /* 고정 높이 */
  padding: 20px 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 세로 스크롤 생성 */
}

.points-value {
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 95px;;
  margin-left: -170px;
}

.dropdown-btn {
  background: #ffe7d9;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 12px;
  cursor: pointer;
  width: 80px;
  font-size: 0.85rem;
  margin-right: 650px;
  margin-top: 5px;
}

.points-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.points-list li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.9rem;
}

.minus {
  color: red;
}

.plus {
  color: blue;
}

/* 챌린지 영역 */
.challenges-section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 30px; /* 위쪽 여백 줄임 */
}

.challenges-title {
  color: #e74d2e;
  font-size: 1rem;
  font-weight: bold;
  margin: -5px 10px 10px -15px;
  position: absolute; /* 챌린지 박스 밖으로 */
  top: -25px; /* 살짝 박스 밖으로 빼기 */
  left: 15px;
  background: #fff; /* 배경 흰색으로 */
  padding: 0 5px;
}

.challenge-list {
  list-style: none;
  padding: 0;
}

.challenge-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.9rem;
}

.reward {
  color: #e74d2e;
  font-weight: bold;
}

.challenge-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.get-btn {
  background: linear-gradient(to bottom, #ffffff, #febbb3);
  border: 1px solid #db968e;
  border-radius: 20px;
  padding: 3px 12px;
  width: 60px;
  font-size: 0.85rem;
  cursor: pointer;
}

.get-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
