.settingsSection {
  margin-top: 5px; /* 페이지 위와 간격 두기 */
  display: flex;
  justify-content: flex-start;
  bottom: 16px;
  left: 260px;
  z-index: 999; /* ✅ 보이는 순서 우선순위 확보 */
}

.settingsButton {
  all: unset; /* ✅ 브라우저 기본 스타일 완전히 제거 */
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  text-decoration: underline; /* ✅ 밑줄 */
}
