.info-steps-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #FEBBB3, #FFF9DA);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

.info-steps-container {
  background: linear-gradient(to bottom, #ffe0e0, #fff8e7);
  border: 1px solid #d8aaaa;
  border-radius: 12px;
  padding: 30px 35px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 15px;
}

.step-indicator {
  margin-bottom: 20px;
}

.step-indicator span {
  font-size: 1rem;
  color: #D9D9D9;
  margin: 0 2px;
}

.step-indicator .active {
  color: #FEBBB3;
}

/* 버튼 그룹: 2열 그리드로 예쁘게 배치 */
.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 10px; /* 버튼 사이 간격 */
  margin-top: 10px;
}

.button-group button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 14px;
  width: 170px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.button-group button:hover {
  background: #ffe0e0;
}

.button-group button.selected {
  background: #333;
  color: #fff;
  border: 1px solid #555;
  /* width: 150px; */
}

.nav-buttons {
  margin-top: 25px;
  display: flex;
  width: 400px;
  gap: 200px;
  /* justify-content: space-between; 좌우 배치 */
}

.nav-buttons.single {
  justify-content: flex-end; /* 한 개일 땐 오른쪽 */
}

.nav-buttons button {
  background: linear-gradient(to top, #FEBBB3, #FFFFFF);
  border: 1px solid #DD938A;
  border-radius: 20px;
  padding: 8px 14px;
  width: 80px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-buttons button:hover {
  opacity: 0.8;
}

.nav-buttons .back-btn {
  background: #f1f1f1;
}

.loading-screen {
  font-size: 1.1rem;
  color: #555;
}
