/* 

.default {
  --bg-img: none;
  --cell-bg: #ffffff;
  --cell-border: #dddddd;
  --cell-text: #000000;
  --cell-radius: 6px;
}

.tomato {
  --bg-img: url("/skins/tomato-bg.png");
  --cell-bg: #fff0f0;
  --cell-border: #d34242;
  --cell-text: #4a0000;
  --cell-radius: 12px;
} */
.angel-theme {
  --bg-img: url("/skins/skin-angel.png");
  --cell-bg: rgba(255, 255, 255, 0.2);
  --cell-border: #eee;
  --cell-text: #fff;
  --cell-radius: 12px;
}
.angel-theme .calendarContainer {
  background-color: red !important;
}
/* .angel .dayBox {
  background-color: rgba(0, 0, 0, 0.3); 
} */
/* .angel {
  --bg-img: url("/skins/angel-bg.png");
  --cell-bg: #f7f7ff;
  --cell-border: #ccccff;
  --cell-text: #3d3d6b;
  --cell-radius: 18px;
} */
/* 
.popup {
  --bg-img: url("/skins/popup-bg.png");
  --cell-bg: #f8f8f8;
  --cell-border: #888888;
  --cell-text: #222;
  --cell-radius: 0;
}
.lace {
  --bg-img: url("/skins/lace-bg.png");
  --cell-bg: #f8f8f8;
  --cell-border: #888888;
  --cell-text: #222;
  --cell-radius: 0;
}*/
/* 
.calendarContainer {
  background-image: var(--bg-img);
  background-color: var(--cell-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
} */
/* 
.dayCell {
  background-color: var(--cell-bg);
  color: var(--cell-text);
  border: 1px solid var(--cell-border);
  border-radius: var(--cell-radius);
  padding: 10px;
}  */
