.frameSelector {
  margin-top: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.label {
  font-weight: bold;
}

.frameBtn {
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #ffecec;
  border: 1px solid #e0b0b0;
  cursor: pointer;
  transition: 0.2s ease;
}
.frameBtn:hover {
  background-color: #ffd2d2;
}
